


.buttonScreen{
    width: 60px;
    height: 30px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 50px;
}



.buttonScreen .cicle{
    width: 50%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left:2px;
    transition: all .2s linear;
}

.buttonScreen .cicle-item{
    width: 88%;
    height: 88%;
    border-radius: 50%;
    background-color: red;
   
}

.buttonScreen .sun{
    width: 50%;
    height: 100%;
}

.buttonScreen .sun i{
    top: 22px;
    left: -19px;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
    color: yellow;
}

.buttonScreen .moon{
    width: 50%;
    height: 100%;
}
.buttonScreen .moon i{
    top: 0;
    right: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s linear;
}
